* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, 'sans-serif';
}

:root {
    --black: #000
}

html,
body {
    background-color: var(--black);
    overflow-x: hidden;
}

.wrapper>section {
    position: relative;
    /* height: 100vh; */
    overflow: hidden;
    border: 1px solid red;
}

.wrapper>section.hero {
    height: 100vh;
}

.wrapper>section:not(.hero) {
    padding-left: 50px;
    padding-right: 50px;
}

section.welcome-text {
    background-color: rgb(24, 24, 24);
}

.dumbell-svg {
    transform: scale(0.6);
}